@page
@model FloChar.AnswerQuestionModel
@{
    ViewData["Title"] = "AnswerQuestion";
}

<script src="~/js/questionHandler.js"></script>

<h1>Answer Questions</h1>
@foreach (var rootQuestion in Model.RootQuestions)
{
<div>
    <h4>@rootQuestion.Name</h4>
    @foreach (var subQuestion in Model.SubQuestions)
    {
        @if (subQuestion.RootId == rootQuestion.Id)
        {
            <div>
                <label>@subQuestion.Name</label>
                <div>
                    <div><input class="subQuestionAnswer form-control" id="@subQuestion.Id" type="text" name="answer" placeholder="Type Answer Here" maxlength="255" /></div>
                </div>
            </div>
            <br />
        }
    }

    <button class="btn btn-primary" type="submit" onclick="answerQuestion(rootQuestion.Id)">Submit</button>
    <br />
    <br />
    <br />
</div>
    
}

